.span{
	width: 10%;
	vertical-align: top;
	font-size: 18px;
	margin-right: 20px;
}
.wrapper{
	width:100%;
	display:inline-block;
	padding: 20px;
	vertical-align: top;
}
.div{
	padding: 10px;
}
.input{
	width: 400px;
}