body {
  height: 100%;
  overflow: hidden;
  background: #fff;
}

.wrap {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.leftpanel {
  width: 80px;
  height: 100%;
  position: absolute;
  background: #404040;
}

.nav_avatar {
  width: 100%;
  height: 60px;
  text-align: center;
  margin: 10px 0px;
}

.centerpanel {
  height: 100%;
  margin-right: 0px;
  margin-left: 80px;
  position: relative;
}