.pullscreen_wrap {
  position: fixed;
  z-index: 1001;
  bottom: 0px;
  background-color: #fff;
  box-shadow: 0px 0 15px rgba(0,0,0,.2);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.pullscreen_action {
  position: relative;
  padding: 0px;
  height: 54px;
  border-bottom: 1px solid #d9d9d9;
}

.pullscreen_action_close {
  position: absolute;
  display: inline-block;
  padding: 0px;
  right: 8px;
  top: 8px;
  width: 54px;
  height: 38px;
  line-height: 38px;
  color: rgb(232, 232, 232);
  font-size: 32px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}

.pullscreen_action_close:hover {
  background: rgb(242, 242, 242);
  color: #2db7f5;
  font-size: 20px;
}


.pullscreen_title {
  display: block;
  padding: 0px 54px 0px 20px;
  height: 100%;
  line-height: 54px;
  font-size: 18px;
  /*text-align: center;*/
}

.pullscreen_container {
  padding: 2px;
  height: ~"-webkit-calc(100% - 54px)";
  height: ~"-moz-calc(100% - 54px)";
  height: ~"calc(100% - 54px)";
}